@import '~node_modules/modern-normalize/modern-normalize.css';

.info {
  flex-flow: column wrap;
  gap: 10px;
  place-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.info-item {
  // border: 1px solid black;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.gallery {
  align-items: center;
  flex-flow: wrap;
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

img {
  display: block;
  width: 320px;
  height: 280px;
  object-fit: cover;
}

.load-more {
  margin-left: auto;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: tomato;
  font-size: 30px;
}

.hide {
  display: none;
}

.inputField {
  font-size: 20px;
  width: 500px;
  padding: 5px;
  border: 2px solid black;
}

.search-button {
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  background-color: teal;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.search-form {
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aquamarine;
}
